.color {
    color: #FF4240;
}

/* shared button color */

.shared-btn-color {

    color: #FFF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 700;
    background: #FF4240;


}

.nav-btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.backg-1 {
    background-image: url(Images/2.png);
}

.backg-2 {
    background-image: url(Images/3.png);

}

.backg-3 {
    background-image: url(Images/4.png);
    background-repeat: no-repeat;
}


.hr {
    /* border-top: 1px dotted red; */
    border-top: 1px dotted black;
    margin-top: 2%;
}




.touch-img-1 {
    width: 374px;
    height: 216px;
    border-radius: 16px;
    background: rgba(188, 237, 109, 0.10);
    padding-left: 30px;
    padding-top: 50px;
}

.touch-img-2 {
    width: 374px;
    height: 216px;
    border-radius: 16px;
    background: rgba(253, 221, 95, 0.10);
    padding-left: 30px;
    padding-top: 50px;
    margin-top: 20px;
}


.touch-img-3 {
    width: 374px;
    height: 216px;
    border-radius: 16px;
    background: rgba(98, 156, 243, 0.10);
    padding-top: 50px;
    margin-top: 20px;
}



.tex-area {
    width: 324px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 12px;
    background: rgba(19, 19, 24, 0.03);

}

.tex-area-2 {
    width: 672px;
    height: 370px;
    flex-shrink: 0;
    border-radius: 12px;
    background: rgba(19, 19, 24, 0.03);
}

.btn-2 {
    display: flex;
    width: 672px;
    color: #FFF;
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #FF4240;
    background: #FF4240;
    margin-top: 30px;
}

.social-bg {

    background: rgba(19, 19, 24, 0.03);
    width: 75%;
    border-radius: 12px;
}

.footer{
    background-color: #131318;
        height: 450px;
}